@import 'src/colors';

.dropdown {
  position: relative;
  width: 45%;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0.3em 0;
  padding: 0.4em;
  border-radius: 0.4em;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 0.6em;
  background-color: $white;
  color: $gray;
}

.icon {
  position: relative;

  &:after {
    transition: all 0.3s ease;
    content: '';
    position: absolute;
    right: 100%;
    border: 0.3em solid transparent;
    border-top: 0.3em solid $gray;
  }

  &.active {
    &:after {
      transform: rotate(180deg) translateY(50%);
    }
  }
}

.options {
  text-align: left;
  position: absolute;
  width: 100%;
  bottom: 110%;
  left: 0;
  box-shadow: 1px 1px 15px $primaryPink;
  border-radius: 0.4em;
  background-color: $white;
  overflow-y: scroll;
  max-height: 20vh;
  font-size: 0.6em;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.option {
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 0.4em;
  border-radius: 0.4em;
  color: $gray;

  &:hover {
    background-color: $selectBack;
  }
}
