@import "src/colors";

.card {
  text-align: left;
  width: 80%;
  border-radius: .5em;
  padding: 1em;
  background-color: $cardBack;
  box-shadow: 1px 3px 10px $cardShadow;
  margin-bottom: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: .6em;
}

.sticker, .logo {
  width: 15%;
  height: 14%;
}

.details {
  display: flex;
  justify-content: space-between;
}
