@mixin title {
  color: #555555;
}

.creditCard {
  max-width: 1200px;
  margin: auto;
  font-size: calc(1px + 2vmin);
}

.card {
  text-align: initial;
  font-size: 1rem;
  height: 200px;
  width: 100%;
  max-width: 385px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #171a1c;
  color: #f1f1f1;
  filter: drop-shadow(1px 3px 10px #222);

  animation: fadeIn .2s linear 1;
}

@keyframes fadeIn {
  from {
    top: -150px;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.sticker {
  width: 50px;
  height: 40px;
  background-image: url("https://images.pexels.com/photos/728471/pexels-photo-728471.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center;
  background-size: cover;
  object-fit: contain;
  border-radius: 5px;
}

.logo {
  max-width: 60px;
}

.cardNumber {
  margin-bottom: 10px;

  &_value {
    font-size: 1.25rem;
  }
}

.details {
  display: flex;
  justify-content: space-between;
}

.title {
  @include title;
}

.value {
  color: #CE4B8D;
}
