@import 'src/colors';

.card {
  text-align: left;
  width: 80%;
  border-radius: 0.5em;
  padding: 1em;
  background-color: $cardBack;
  box-shadow: 1px 3px 10px $cardShadow;
  margin-bottom: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.6em;
}

.sticker,
.logo {
  width: 15%;
  height: 14%;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input {
  width: 100%;
  color: $gray;
  font-size: 0.6em;
  margin: 0.3em 0;
  padding: 0.4em;
  outline: none;
  border-radius: 0.4em;
  border: 2px solid transparent;

  &.error{
    border: 2px solid $red;
  }
}

.expiration {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.cvv {
  width: 13%;
}

.divider {
  color: $gray;
}
