.input {
  transition: all .3s ease;
  height: 60px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  min-width: 50%;

  &:focus {
    outline: none;
    box-shadow: rgba(236, 236, 236, 0.17) 0 3px 8px, rgba(245, 83, 162, 0.81) 0 3px 8px;
  }

  &:focus::placeholder {
    opacity: 0;
  }

  &::placeholder {
    transition: opacity .3s ease;
    opacity: 1;
    text-align: center;
    font-size: calc(10px + 2vmin);
  }
}