@import "src/constants/colors";

.creditCard {
  max-width: 1200px;
  margin: auto;
  font-size: calc(1px + 2vmin);
}

.form {
  background: $white;
  max-width: 500px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 3px 3px 40px $primaryPink;
  position: relative;
}

.input,
.select {
  margin: 1rem 0;
  padding: 0.75rem 0.25rem;
  outline: none;
  border: 1px solid $gray;
  border-radius: 5px;
  position: relative;
  width: 100%;
}

h4 {
  color: gray;
  font-size: .90rem;
}

.mt {
  margin-top: 8rem;
}

.inputContainer {
  position: relative;
  font-size: 1rem;
  color: $gray;
}

.inputGrp {
  display: flex;
  justify-content: space-between;
  column-gap: .5rem;
}

.button {
  width: 100%;
  padding: 1rem 0.5rem;
  margin-top: 1.5rem;
  outline: none;
  border: none;
  border-radius: 7px;
  background-color: $cardBack;
  color: $white;
  letter-spacing: 1px;
  font-size: 1.25rem;
  cursor: pointer;
  position: relative;
  z-index: 9;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: $primaryPink;
    z-index: -1;
    border-radius: 7px;
  }

  &:hover:before {
    width: 100%;
    transition: .3s all;
    border-radius: 7px;
  }
}