@mixin title {
  color: #555555;
}

.credit-card {
  max-width: 1200px;
  margin: auto;
  font-size: calc(1px + 2vmin);
}

.form {
  background: #fff;
  max-width: 500px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 3px 3px 40px #545454e8;
  position: relative;
}

input,
select {
  margin: 1rem 0;
  padding: 0.75rem 0.25rem;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  width: 100%;
}

h4 {
  color: #555;
  font-size: .90rem;
}

.mt {
  margin-top: 8rem;
}

.input-container {
  position: relative;
  font-size: 1rem;
  color: #333;
}

.input-grp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

button {
  width: 100%;
  padding: 1rem 0.5rem;
  margin-top: 1.5rem;
  outline: none;
  border: none;
  border-radius: 7px;
  background-color: #060a24;
  color: #FFF;
  letter-spacing: 1px;
  font-size: 1.25rem;
  cursor: pointer;
  position: relative;
  z-index: 9;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #3b2dd2fa;
    z-index: -1;
    border-radius: 7px;
  }

  &:hover:before {
    width: 100%;
    transition: .3s all;
    border-radius: 7px;
  }
}

.card {
  text-align: initial;
  font-size: 1rem;
  height: 200px;
  width: 100%;
  max-width: 385px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #171a1c;
  color: #f1f1f1;
  filter: drop-shadow(1px 3px 10px #222);

  animation: fadeIn .2s linear 1;
}

@keyframes fadeIn {
  from {
    top: -150px;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.sticker {
  width: 50px;
  height: 40px;
  background-image: url("https://images.pexels.com/photos/728471/pexels-photo-728471.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center;
  background-size: cover;
  object-fit: contain;
  border-radius: 5px;
}

.logo {
  max-width: 60px;
}

.card-number {
  margin-bottom: 10px;

  &-value {
    font-size: 1.25rem;
  }
}

.details {
  display: flex;
  justify-content: space-between;
}

.card-number,
.card-holder,
.expiration,
.cvv {
  &-title {
    @include title;
  }
}