@mixin active {
  border: 1px solid rgba(245, 83, 162, 0.81);
  color: rgba(245, 83, 162, 0.81);
}

.option {
  border: 1px solid #fff;
  padding: 0.5em 1em;
  color: #fff;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    @include active;
  }
}

.active {
  @include active;
}
