@import "./colors";

.App {
	text-align: center;
	background-color: $appBack;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1vw;
	color: $white;
}

ul {
	list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}